.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-group.has-error .form-control {
  border: 1px solid red;
}

.error-messages {
  margin-top: 0.5rem;
  color: red;
  list-style: none;
  padding: 0;
}

.form-group .form-control {
  border: 1px solid #2b2b2b;
  padding: 0.5rem;
  border-radius: 4px;
}

.form-group label {
  margin-bottom: 0.5rem;
}
