.App {
  font-family: sans-serif;
}

.submit-btn {
  border: 1px solid #2b2b2b;
  background-color: transparent;
  padding: 0.5rem;
  border-radius: 4px;
  font-size: 1em;
  cursor: pointer;
  margin-right: 1rem;
}

.submit-btn.danger {
  border: 1px solid red;
  background-color: red;
  color: white;
}
